input[type=checkbox] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff; 
  margin: 0;

  color: currentColor;
  width: 20px;
  height: 20px;
  border: 1px solid currentColor;
  border-radius: 2px;

  display: grid;
  place-content: center;
}

input[type=checkbox]::before {
  content: "";
  width: 20px;
  height: 20px;
  transform: scale(0);
  box-shadow: inset 20px 20px var(--blue);
  transition: 120ms transform ease-in-out;
}

input[type=checkbox]:checked::before {
  transform: scale(0.7);
}