@import "../../helpers/mixins.scss";
@import "../../helpers/animations.scss";

.container {
  cursor: default;
  
  &__title {
    font-size: 1.5rem;
    padding: 24px 0 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--grey);
    padding: 24px;
    border-radius: 4px;

    @include mobile {
      padding: 16px;
    }
  }

  &__row {
    display: grid;
  }

  &__button {
    display: flex;
    justify-content: center;

    cursor: pointer;
    padding: 16px;
    color: var(--white);
    max-width: 325px;

    border-radius: 4px;
    transition: all 1s;
    border: none;

    background: linear-gradient(217deg, #AB0830, rgba(255,0,0,0) 90.71%),
    linear-gradient(127deg, #1C91C8, rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, #CE7E7A, rgba(0,0,255,0) 70.71%);
    background-size: 150%;
    animation: flipColorsBack 1s ease forwards;

    @include mobile {
      max-width: unset;
    }

    &:hover {
      animation: flipColors 1s ease forwards;
    }

    &:active {
      transform: scale(0.9);
    }

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}

.table {
  &__item {
    padding: 8px 0;

    &_cancel {
      cursor: pointer;
    }
  }
}