@import "../../helpers/mixins.scss";

.container {
  cursor: default;

  &__title {
    font-size: 1.5rem;
    padding: 24px 0 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--grey);
    padding: 24px;
    border-radius: 4px;

    @include mobile {
      padding: 16px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  &__cell {
    display: grid;
    grid-template-columns: minmax(120px, auto) auto;

    @include mobile {
      display: block;
      gap: 24px;
    }
  }

  &__edit {
    cursor: pointer;
  }
}