@import "../helpers/animations.scss";

.card {
  padding: 16px 0;
  border-radius: 8px;
  border: 2px solid var(--grey);
  width: 300px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    text-align: center;
    cursor: default;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__subtitle {
    position: relative;
    width: fit-content;
    font-size: 1rem;
    margin: auto;

    display: flex;
    gap: 8px;

    &_info_icon {
      cursor: pointer;
      width: 18px;
      height: 18px;

      background-image: url("../../public/assets/info.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &_info_close {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      padding: 8px;

      width: 10px;
      height: 10px;

      background-image: url("../../public/assets/cross.svg");
      background-position: center;
      background-size: 10px;
      background-repeat: no-repeat;
    }

    &_info {
      position: absolute;
      background-color: var(--grey-light);
      padding: 24px 8px;
      width: 100%;
      border-radius: 4px;
      font-size: 0.9rem;
    }
  }

  &__quota {
    font-family: "Baloo Bhai", "Montserrat", "sans-serif";
    font-size: 3rem;
    line-height: 120%;
  }

  &__quota_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__price_div {
    font-size: 1.25rem;
  }

  &__price {
    font-size: 1.5rem;
  }

  &__license_div, &__privacy_div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__license, &__privacy {
    &_input {
      width: 0;
      height: 0;
      margin: 0;
    }

    &_label {
      border: 1px solid var(--blue);
      color: var(--blue);
      padding: 4px 6px;
      border-radius: 4px;
      transition: all 1s;

      -webkit-user-select: none; /* Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */

      &_highlight {
        color: var(--black);
        border: 1px solid var(--black);
      }
    }

    &_info_icon {
      cursor: pointer;
      width: 18px;
      height: 18px;

      background-image: url("../../public/assets/info.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &_info {
      position: absolute;
      background-color: var(--grey-light);
      padding: 24px 8px;
      border-radius: 4px;
      font-size: 0.9rem;
      left: 0;
      right: 0;

      &_close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
        z-index: 2;
  
        width: 10px;
        height: 10px;
  
        background-image: url("../../public/assets/cross.svg");
        background-position: center;
        background-size: 10px;
        background-repeat: no-repeat;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    cursor: pointer;
    padding: 16px 24px;
    background-color: transparent;
    color: var(--black);
    border-radius: 4px;
    transition: all 1s;
    border: none;
    color: var(--white);

    margin-top: 8px;
    background: linear-gradient(217deg, #AB0830, rgba(255,0,0,0) 90.71%),
    linear-gradient(127deg, #1C91C8, rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, #CE7E7A, rgba(0,0,255,0) 70.71%);
    background-size: 150%;
    animation: flipColorsBack 1s ease forwards;

    &:hover {
      animation: flipColors 1s ease forwards;      
    }

    &:active {
      transform: scale(0.9);
    }

    // &_special {
    //   background-color: var(--blue);
    //   color: var(--white);

    //   &:hover {
    //     background-color: var(--blue-dark);
    //   }
    // }

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}