@import "../../helpers/mixins.scss";
@import "../../helpers/animations.scss";

.button {
  display: flex;
  gap: 16px;
  width: 100%;

  &__wrapper {
    cursor: pointer;
    padding: 16px 24px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--blue);
    background-color: transparent;
    animation: unset;
    color: var(--black);
    transition: all 1s;
    
    @include tablet {
      width: unset;
    }

    &:hover {
      background-color: var(--blue);
      color: var(--white);
    }

    &:active {
      transform: scale(0.9);
    }
  } 
}